body {
    background-color: skyblue;
}

.icon {
    margin: 5% 0;
}

.gender {
    margin: 5% 0;
}

.country {
    margin: 5% 0;
}

.prefecture {
    margin: 5% 0;
}

.city {
    margin: 5% 0;
}

.button {
    float: right;
    margin-bottom: 20%;
} 

label {
    font-weight: bold;
}

